<p>Formulario</p>
<form [formGroup]="movieForm" (submit)="handleSubmit()">
    <fieldset>
        <label for="movie-name">movie-name</label>
        <input type="text" id="movie-name" formControlName="name">
        @if (name.invalid && name.touched) {
            <p>name is required</p>
        }
    </fieldset>
    <fieldset>
        <label for="movie-duration">movie-duration</label>
        <input type="text" id="movie-duration" formControlName="duration">
    </fieldset>
    <fieldset>
        <label for="movie-director">movie-director</label>
        <input type="text" id="movie-director" formControlName="director">
    </fieldset>
    <button [disabled]="movieForm.invalid">CreateMovie</button>
</form>